


{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Easy-Academy | Login</title>
  <!-- <link rel="icon" type="images/jpg" href="{% static '' %}">  -->
  <link rel="icon" type="images/jpg" href="{% static 'image/easy-academy-1.png' %}">  
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css'%}">
  <link rel="stylesheet" href="{% static 'profile/css/style.css'%}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css'%}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'plugins/toastr/toastr.css' %}" />
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css'%}">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
  <!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>


</head>

<body>
  {% if messages %}
  {% for message in messages %}
  <script type=text/javascript>
    toastr.options.progressBar = true;
    toastr.{{ message.tags }}('{{ message }}')
  </script>
  {% endfor %}
  {% endif %}
<div class="container register">
                <div class="row">
                    <div class="col-md-6 register-left">
                      {% include 'includes/left_content.html' %}
                        <br/>
                    </div>
                    <div class="col-md-6 register-right">
                        <!-- <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Employee</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Hirer</a>
                            </li>
                        </ul> -->
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                                <h3 class="register-heading">Reset Password</h3>
                                <br>
                                <div class="row register-form">
                                    <div class="col-md-12">
                                      <form  method="post">
                                        {% csrf_token %}
                                         {{  form|crispy }}   
                                         <a href="{% url 'login' %}" class="btn btn-sm btn-danger">Back To Login</a>
                                        <button type="submit" class="btn btn-sm text-white " style="background:-webkit-linear-gradient(left, #3931af, #00c6ff)"><strong>Submit</strong></button>

                                        </form>
                                    </div>
                                  
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>

            </div>

         

</body>

</html>

         



