<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-body px-2">
                <div class="row justify-content-lg-start ms-lg-2">
                    <div class="row">
                        <div class="col-6 stats-icon purple mt-3 mb-3" style="padding:2.8rem;">
                            <i class="iconly-boldProfile"></i>
                        </div>
                        <div class="col-6 mt-4">
                        <b class="text-muted text-center font-semibold">Total Bookings</b>
                        <h3 class="font-extrabold mb-0">10</h3>


                        </div>
                      

                    </div>
                  
                      
                    </div>
                  
                
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body px-2">
                <div class="row justify-content-lg-start ms-lg-2">
                    <div class="row">
                        <div class="col-6 stats-icon green mt-3 mb-3" style="padding:2.8rem;">
                            <i class="iconly-boldPlus"></i>
                        </div>
                        <div class="col-6 mt-4">
                        <b class="text-muted text-center font-semibold">Total Bookings</b>
                        <h3 class="font-extrabold mb-0">10</h3>


                        </div>
                      

                    </div>
                  
                      
                    </div>
                  
                
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body px-2">
                <div class="row justify-content-lg-start ms-lg-2">
                    <div class="row">
                        <div class="col-6 stats-icon bg-warning mt-3 mb-3" style="padding:2.8rem;">
                            <i class="iconly-boldTime-Circle"></i>
                        </div>
                        <div class="col-6 mt-4">
                        <b class="text-muted text-center font-semibold">Total Bookings</b>
                        <h3 class="font-extrabold mb-0">10</h3>


                        </div>
                      

                    </div>
                  
                      
                    </div>
                  
                
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body px-2">
                <div class="row justify-content-lg-start ms-lg-2">
                    <div class="row">
                        <div class="col-6 stats-icon red mt-3 mb-3" style="padding:2.8rem;">
                            <i class="iconly-boldDelete"></i>
                        </div>
                        <div class="col-6 mt-4">
                        <b class="text-muted text-center font-semibold">Total Bookings</b>
                        <h3 class="font-extrabold mb-0">10</h3>


                        </div>
                      

                    </div>
                  
                      
                    </div>
                  
                
            </div>
        </div>
    </div>
  
 
</div>
<div class="row">
  
  
</div>