{% extends 'project_base.html' %}

{% load crispy_forms_tags %}

{% block main_content %}
<!-- Main content -->
<section class="content">
  <div class="container-fluid">

    {% include "includes/messages.html" %}

    <div class="row">
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">Add Settings</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form role="form" method="post" enctype="multipart/form-data">
            <!--using this id = "staff-modelform"  for solving form conflict in formhelper in crispy form -->
            {% csrf_token %}
            <div class="card-body">
              {% crispy form %}
         
       
            <!-- /.card-body -->

        
          </form>
        </div>
        <!-- /.card -->



      </div>
    </div>
  </div>
</section>
<!-- /.content -->
{% endblock main_content %}