{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Rising Software Technology{% endblock title %}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">

  
    <link rel="stylesheet" href="{% static 'custom-css/account.css'%}">

    <!-- CSS FILES -->
    <link rel="stylesheet" href="{% static 'assets/css/main/app.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main/app-dark.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/pages/auth.css' %}">
    <link rel="shortcut icon" href="{% static 'assets/images/logo/favicon.svg' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'assets/images/logo/favicon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'assets/css/shared/iconly.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/pages/email.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/pages/toastr/toastr.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>    
    <!-- custom javascript -->
    <script src="{% static 'assets/js/script.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'assets/js/extensions/toastr.min.js' %}"></script>  

</head>


<body>
    {% if messages %}
    {% for message in messages %}
    <script type=text/javascript>
      toastr.options.progressBar = true;
      toastr.{{ message.tags }}('{{ message }}')
    </script>
    {% endfor %}
    {% endif %}


    <div id="auth">
        <div class="row h-100">
         
            <div class="col-lg-5 col-12">
                <div id="auth-left">

                    <div class="auth-logo">
                        <a href=""><img src="{% static 'assets/images/logo/main_logo.svg' %}" alt="Logo"></a>
                    </div>

                    <h1 class="auth-title">Log in.</h1>
                    <!-- <p class="auth-subtitle mb-5">Log in with your data that you entered during registration.</p> -->
    
                    <form action="{% url 'authentication:login' %}" method="post">
                        {% csrf_token %} 
                        <div class="form-group position-relative has-icon-left mb-4">
                            <input type="text" class="form-control form-control-xl" placeholder="Email" name="email" required>
                            <div class="form-control-icon">
                                <i class="bi bi-envelope"></i>
                            </div>
                        </div>
                        <div class="form-group position-relative has-icon-left mb-4">
                            <input type="password" class="form-control form-control-xl" placeholder="Password" name="password" required>
                            <div class="form-control-icon">
                                <i class="bi bi-shield-lock"></i>
                            </div>
                        </div>
                        <div class="form-check form-check-lg d-flex align-items-end">
                            <input class="form-check-input me-2" type="checkbox" value="" id="flexCheckDefault" name="remember_me">
                            <label class="form-check-label text-gray-600" for="flexCheckDefault">
                                Remember Me
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Log in</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-7 d-none d-lg-block auth-right">
                <div id="auth-right">
                    <img src="{% static 'assets/images/logo/main_logo.svg' %}" style="width:200px;height:115px;border-radius: 20px;" id="logo">
                    <h3 class="text-white">Welcome To Easy Academy</h3>
                    <p>We are here to serve you every learning components.</p>

                    <img src="{% static 'assets/images/svg-images/login.svg' %}" style="width:88%;height:27rem;border-radius: 20px;">

                </div>
            </div>
        </div>
    </div>
</body>

</html>

